<!-- This is layout HTML. Dunno why its not called.css -->

<html>
	<head>
	    
		<style>
			body{
			    text-align: center; 
			    color: #090909;  
			    font-weight: normal;
				
			}

			h1{
			    padding-top: 10%;
			    font-size: 45px;
			} 

			h2{
				padding-top: 10%;
				
			}
			
			img {
	 			width: 100%;
	 			max-width: 600px;
	 			max-height: 300px;
	    		height: auto;
	    		padding-top: 2%;
	    		padding-bottom: 2%;
			}


		</style>
	</head>


	<body>
		{% block body %}
		{% endblock %}
	</body>


</html>